---
# Main playbook for Kubernetes cluster setup with AWS Cloud Controller Manager
- name: Configure all nodes with common setup
  hosts: all
  become: yes
  roles:
    - common

- name: Initialize Kubernetes master with CCM support
  hosts: master
  become: yes
  roles:
    - master

- name: Join worker nodes to the cluster
  hosts: workers
  become: yes
  roles:
    - worker
